<p>services works!</p>

<hr>
<app-basic-service></app-basic-service>
<hr>
única instância service = aplicado no módulo<br>
<div style="padding-left: 20px;padding-top: 20px; width: 500px;">
  <div class="row">
      <div class="col-xs-6">
          <h2>Parent Componet - 1</h2>
          <app-inject-service-into-a-module></app-inject-service-into-a-module>
      </div>
      <div class="col-xs-6">
          <h2>Parent Componet - 2</h2>
          <app-inject-service-into-a-module></app-inject-service-into-a-module>
      </div>
  </div>
</div>
<hr>
<app-inject-service-into-a-component></app-inject-service-into-a-component>
