<p>data-bindings works!</p>
<hr>
<app-event-based-binding></app-event-based-binding>
<hr>
<app-input-output-sem-delegate></app-input-output-sem-delegate>
<hr>
<app-input-output-com-delegate></app-input-output-com-delegate>
<hr>
<app-interpolation></app-interpolation>
<hr>
<app-pass-input-value-into-component></app-pass-input-value-into-component>
<hr>
<app-property-based-binding></app-property-based-binding>
<hr>
<app-return-output-value-from-a-component></app-return-output-value-from-a-component>
<hr>
<app-two-way-data-binding></app-two-way-data-binding>
<hr>
<app-view-child></app-view-child>
