{{title}}


<!--
  <app-to-do-list-canal-geek-dev></app-to-do-list-canal-geek-dev>

<hr>
  usando Observable
  <app-crud-escola-front-end></app-crud-escola-front-end>
<hr>
  usando ng-content em app-nav
  <app-nav>
    <app-dashboard></app-dashboard>
  </app-nav>
<hr>
<app-component-lifecycle></app-component-lifecycle>
<hr>
<app-data-bindings></app-data-bindings>
<hr>
<app-directives></app-directives>
<hr>
<app-forms></app-forms>
<hr>
<app-http-core-api></app-http-core-api>
<hr>
<app-pipes></app-pipes>
<hr>
<app-route></app-route>
<hr>
<app-services></app-services>
<hr>
<app-view-encapsulations></app-view-encapsulations>-->
