<p>view-encapsulation works!</p>
<br />
Emulated<br />
  propaga style html principal<br />
  não propaga style componente (para filhos)<br /><br />

None: isola nada<br />
  propaga style html principal<br />
  propaga style componente (para filhos)<br /><br />

ShadowDom<br />
  não propaga style html principal<br />
  propaga style componente (para filhos)<br /><br />

códigos comentados, desativar 1 por vez para testar
<!--hr>
<app-ng-content></app-ng-content>
<hr>
<app-view-encapsulation-emulated></app-view-encapsulation-emulated>
<hr>
<app-view-encapsulation-none></app-view-encapsulation-none>
<hr>
<app-view-encapsulation-shadown-dom></app-view-encapsulation-shadown-dom-->
